h1, h2, h3, h4, h5, h6 {
    padding-bottom: 10px;
}

body::-webkit-scrollbar
{
    display: none;
}

summary
{
    font-size: 1.5em;
}

#header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#login-and-lang {
    position: absolute;
    right: 20px;
    top: 10px;
    margin-top: 10px;
}

#login {
    /*display: none;*/
    display: inline-block;
    vertical-align: middle;
}

#main
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main .inside {
    min-height: 0;
}

#home-de, #home-it {
    padding: 0;
}

#et-slider-wrapper
{
    z-index: 1;
    left: 85%;
}

#footer
{
    width: 100%;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#footer .inside {
    display: inline-block;
}

#footer a {
    display: inline-block;
}

#sponsors img
{
    height: 60px;
}

.responsive-form .widget, .submit_container
{
    width: 99%;
    padding: 0;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
    overflow: hidden;
}

.responsive-form .widget
{
    background-color: #c6d44b;
    border: 1px solid #ADBB32;
    border-radius: 3px;
}

.responsive-form .widget label
{
    display: block;
    width: 100%;
    padding: 3px;
    margin: 0;
}

.responsive-form .widget input, textarea
{
    width: 100%;
    padding: 3px;
    margin: 0;
    border: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.responsive-form .submit_container input
{
    width: 100%;
    padding: 3px;
    margin: 0;
    background-color: #c6d44b;
    border: 1px solid #ADBB32;
    border-radius: 3px;
}

.responsive-form .submit_container input:hover
{
    background-color: #ADBB32;
    border: 1px solid #94A219;
}

.teaser img
{
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}

.teaser h2
{
    display: inline;
}

.responsive-language-switch {
    display: inline-block;
    vertical-align: middle;
}

.responsive-language-switch a
{
    display: block;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.responsive-language-switch a.active {
    font-weight: 800;
}

.responsive-language-switch a:first-of-type
{
    padding-top: 3px;
}

.responsive-language-switch a:last-of-type
{
    padding-bottom: 3px;
}

.date-tag
{
    display: inline-block;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

ul.thumbnail-list
{
    list-style-type: none;
}

ul.thumbnail-list > a
{
    text-decoration: none;
    color: inherit;
}

ul.thumbnail-list > a > li
{
    padding: 10px;
}

ul.thumbnail-list > a > li:hover
{
    background: #eee;
    cursor: pointer;
}

ul.horizontal-list
{
    list-style-type: none;
}

li.horizontal-list-item
{
    display: inline-block;
    padding: 8px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid #ADBB32;
    background-color: #c6d44b;
    text-align: center;
}

li.horizontal-list-item-button
{
    border: 1px solid red;
    background-color: #8f0222;
    color: white;
}

div.divider
{
    width: 100%;
    height: 1px;
    background-color: #eee;
}

div.box
{
    padding: 10px;
}

dl.ranking
{
    counter-reset: custom-counter;
    padding: 10px;
}

dl.ranking dt
{
    display: inline;
}

dl.ranking dt:before
{
    content: counter(custom-counter) ".";
    counter-increment: custom-counter;
}

dl.ranking dt.gold
{
    color: gold;
    font-size: 2em;
}

dl.ranking dt.silver
{
    color: silver;
    font-size: 1.66em;
}

dl.ranking dt.bronze
{
    color: sandybrown;
    font-size: 1.33em;
}

dl.ranking dd
{
    display: inline-block;
    padding: 3px;
}

dl.ranking dd.gold
{
    font-size: 2em;
}

dl.ranking dd.silver
{
    font-size: 1.66em;
}

dl.ranking dd.bronze
{
    font-size: 1.33em;
}

span.points
{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

table.responsive-table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table.responsive-table th, td
{
    padding: 3px;
    border-bottom: 1px solid #ddd;
}

table.responsive-table tr:nth-child(odd)
{
    background-color: #eee;
}

h3.section-lead
{
    padding-top: 30px;
    padding-bottom: 20px;
}

details.details_shim_closed > summary::before, details.details_shim_open > summary::before {
    color: #c6d44b;
}

/* Small */
@media (max-width: 960px)
{
    #main
    {
        width: 100%;
    }
    
    #main-header .logo
    {
        display: none;
    }
    
    #main-header .brand
    {
        position: absolute;
        width: 100%;
        top: 5px;
        left: 0;
        text-align: center;
        font-weight: 800;
        font-family: 'Lobster', Arial, sans-serif;
        color: #2a2a2a;
        text-shadow: 1px 1px 0 #fff;
    }
        
    #login .link-text
    {
        display: none;
    }
    
    /* #main */
    .mod_article
    {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #et-list-view
    {
        z-index: 0;
    }
    
    #kontaktformular form
    {
        width: 100%;
    }
    
    #footer
    {
        height: auto;
    }
    
    .responsive-language-switch
    {
        top: 140px;
    }
    
    li.horizontal-list-item
    {
        padding: 5px;
    }
}

/* Large */
@media (min-width: 960px)
{
    #main
    {
        width: 50%;
        margin-left: 25%;
    }
    
    #main-header .logo
    {
        position: absolute;
        left: 5%;
        top: 0;
    }
    
    #main-header .brand
    {
        visibility: hidden;
        height: 0;
    }
    
    #main-header .container
    {
        width: 50%;
    }
    
    #top-navigation, #top-navigation nav
    {
        width: 100%;
    }
    
    #top-navigation nav
    {
        text-align: center;
    }
    
    #menu-pages li
    {
        text-align: left;
    }
    
    /* #main */
    .mod_article
    {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
    }
    
    #et-list-view
    {
        z-index: 1;
    }
    
    #footer
    {
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    
    .responsive-language-switch
    {
        top: 100px;
    }
}